
<!-- <div class="card-list">
    <mat-card *ngFor="let character of filteredCharacters" class="card">
      <img mat-card-image [src]="character.image" alt="{{ character.name }} Avatar">
      <mat-card-content>
        <h2>{{ character.name }}</h2>
        <p>ID: {{ character.id }}</p>
        <p>Status: {{ character.status }}</p>
        <p>Gender: {{character.gender}}</p>
        <p>Species: {{ character.species }}</p>
      </mat-card-content>
    </mat-card>
  </div> -->

  <h1>user-details works</h1>