<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <h1>devRjj</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="userlist">Userlist</a>
      <a mat-list-item routerLink="register">Register</a>
      <a mat-list-item routerLink="login">Login</a>
      <a mat-list-item routerLink="">Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh; overflow: hidden;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
